<!DOCTYPE html>
<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for("static",filename="styles/mystyle.css") }}">
<title>My Form</title>
</head>
<body>
<h1>Anime Moodboard Generator</h1>
<h3 style="font-family: 'Brandon Grotesque Light';font-size: 25px">Enter a publicly accessible URL of an anime screenshot or GIF and I'll make a mood board</h3>
<p style="text-align: center">
<form style="display: block;"action="gresponse"method="get">
<label style="text-align: center;color: white;"for="image">Please enter an image url:</label>
<input type="text"id="image"name="image"/><br/>
<input type="submit"class="no-outline"value="Create"name="gobtn"/></form>
</p>
</body>
</html>